* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
  font-family: "DM Sans", sans-serif;
}

$bitcoin-orange: #f7931a;
$soft-orange: #ffe9d4;
$secondary-blue: #1a9af7;
$soft-blue: #e7f5ff;
$warm-black: #201e1c;
$warmer: #282623;
$grey: #bababa;
$off-white: #faf8f7;
$justwhite: #ffffff;

@mixin titles {
  font-weight: 700;
  font-style: normal;
  font-size: 2.4rem;
  line-height: 2.6rem;
  text-align: center;
}

@mixin titles-advantages {
  font-weight: 700;
  font-style: normal;
  font-size: 1.8rem;
  line-height: 2.6rem;
  text-align: start;
}

@mixin paragraphs {
  font-weight: 500;
  font-style: normal;
  font-size: 1.4rem;
  line-height: 1.8rem;
  text-align: center;
}
@import url(/import320p/header_320p.scss);

@import url(/import320p/header_320p.scss);

@import url(/import320p/main_320p.scss);

@import url(/import320p/footer_320p.scss);
