* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
  font-family: "DM Sans", sans-serif;
}

$bitcoin-orange: #f7931a;
$soft-orange: #ffe9d4;
$secondary-blue: #1a9af7;
$soft-blue: #e7f5ff;
$warm-black: #201e1c;
$warmer: #282623;
$grey: #bababa;
$off-white: #faf8f7;
$justwhite: #ffffff;

@mixin titles {
  font-weight: 700;
  font-style: normal;
  font-size: 2.4rem;
  line-height: 2.6rem;
  text-align: center;
}

@mixin titles-advantages {
  font-weight: 700;
  font-style: normal;
  font-size: 1.8rem;
  line-height: 2.6rem;
  text-align: start;
}

@mixin paragraphs {
  font-weight: 500;
  font-style: normal;
  font-size: 1.4rem;
  line-height: 1.8rem;
  text-align: center;
}
header {
  display: flex;
  flex-direction: column;
  background: linear-gradient(207.8deg, #201e1c 16.69%, #f7931a 100%);
  width: 100%;
  min-width: 320px;
  max-width: 768px;
  height: 300px;
  padding-left: 1.6rem;
  padding-right: 1.6rem;
  img {
    justify-content: center;
    padding-top: 3rem;
  }
  h1 {
    @include titles;
    color: $justwhite;
    padding-top: 2rem;
  }
  p {
    @include paragraphs;
    color: $soft-orange;
    padding-top: 2rem;
  }
}
.button {
  background-color: #faf8f7;
  width: 80%;
  height: 40px;
  box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.1);
  position: absolute;
  border-radius: 5px;
  top: 280px;
  left: 35px;
  a {
    text-decoration: none;
    font-weight: 700;
    font-style: normal;
    font-size: 1.4rem;
    line-height: 1.823rem;
    text-align: center;
    padding-top: 11px;
    color: $warm-black;
    display: block;
  }
}

main {
  padding-top: 50px;
  height: auto;
  .main__exchange {
    display: block;
    text-align: center;
    margin: 0 auto;
  }
  section {
    padding-bottom: 40px;
    h2 {
      @include titles;
      color: $warm-black;
    }
    p {
      @include paragraphs;
      color: $grey;
      padding-top: 20px;
    }
  }
  .advantages {
    background-color: $warm-black;
    padding-top: 40px;
    h3 {
      @include titles;
      color: $justwhite;
    }
    p {
      @include paragraphs;
      color: #808080;
      padding-bottom: 20px;
    }
    .advantages__padding {
      background-color: $warm-black;
      height: 20px;
      width: 100%;
    }
  }
  .advantages__components {
    background-color: $warmer;
    margin: 0 auto;
    width: 90%;
    span {
      background-image: url("./assets/icons/clock.svg");
      display: block;
      width: auto;
      height: auto;
    }
    .advantages--titles {
      color: $justwhite;
      @include titles-advantages();
      padding: 0%;
      padding-top: 10px;
    }
    p {
      width: 90%;
      margin: 0 auto;
      text-align: start;
    }
  }
  //initiating mofifiers
  .advantages__components--time {
    display: block;
    justify-content: start;
    padding-top: 10px;
    padding-left: 10px;
  }

  .advantages__components--tasks {
    @extend .advantages__components--time;
  }
  .advantages__components--currency {
    @extend .advantages__components--time;
  }
  .advantages__components--information {
    @extend .advantages__components--time;
  }

  .today {
    p {
      @include titles;
      color: $justwhite;
      position: absolute;
      bottom: -880px;
      left: calc(50% - 86px);
    }
  }

  .plans {
    padding-bottom: 35px;
    h4 {
      @include titles;
      color: $warm-black;
      padding-top: 50px;
    }
    p {
      font-weight: 500;
      font-style: normal;
      font-size: 1.4rem;
      line-height: 1.8rem;
      text-align: center;
      width: 90%;
      margin: 0 auto;
      padding-bottom: 30px;
    }
  }
  .plans__slider {
    background-color: $off-white;
    overflow-x: scroll;
    padding-bottom: 0%;
    overscroll-behavior-x: contain;
    scroll-snap-type: x proximity;
    display: flex;
    padding-top: 20px;
    padding-bottom: 20px;
    .plans__container {
      scroll-snap-align: center;
      border-radius: 8px;
      min-width: 230px;
      max-width: 300px;
      background-color: $justwhite;
      box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
      text-align: center;

      .plans__container-card {
        position: relative;
        padding-top: 10px;
        top: -20px;
        height: 31px;
        width: 70%;
        border-radius: 8px;
        background-color: $bitcoin-orange;
        font-family: Inter;
        font-weight: 700;
        font-style: normal;
        font-size: 1.2rem;
        line-height: 1.452rem;
        text-align: center;
        color: $justwhite;
      }
      //Modificador nombres de paquetes Basic Recomendado Premium
      .container--basic {
        background-color: $secondary-blue;
      }
      .container--premium {
        background-color: $grey;
        color: $warm-black;
      }
      .plans__container-title {
        font-weight: 500;
        font-style: normal;
        font-size: 1.4rem;
        line-height: 1.8rem;
        color: #000000;
        text-align: center;
      }
      .plans__container-price {
        font-family: Inter;
        padding-bottom: 0%;
        padding-top: 10px;
        font-weight: 700;
        font-style: normal;
        font-size: 5.2rem;
        line-height: 62.93px;
        letter-spacing: -8%;
        color: #000000;
        span {
          font-family: Inter;
          font-weight: 500;
          font-style: normal;
          font-size: 1.2rem;
          line-height: 14.52px;
          color: #363636;
        }
      }
      .plans__container-text {
        font-family: Inter;
        font-weight: 500;
        font-style: normal;
        font-size: 1.2rem;
        line-height: 14.52px;
        color: #757575;
        padding-bottom: 20px;
        padding-top: 10px;
      }

      .plans__container-choose {
        background-color: $off-white;
        display: inline-flex;
        border-color: #f7931a;
        border-style: solid;
        border-radius: 4px;
        height: 48px;
        width: 150px;
        margin-bottom: 20px;
        p {
          color: $warm-black;
          font-weight: 700;
          font-style: normal;
          font-size: 1.4rem;
          line-height: 1.823rem;
          text-align: center;
          display: inline-flex;
          padding: 12px 0px 0px 12px;
        }
        img {
          display: inline-flex;
          padding: 10px 12px 0px 0px;
        }
      }

      .container--choosebasic {
        border-color: $secondary-blue;
      }
      .container--choosepremium {
        background-color: $warmer;
        p {
          color: $justwhite;
        }
      }
      //Modificador borde boton paquetes
    }
    .container--firstcard {
      margin-left: 50px;
    }
    .container--secondcard {
      margin-left: 50px;
      margin-right: 50px;
    }
    .container--thirdcard {
      margin-right: 50px;
      background-color: $warm-black;
      .plans__container-title {
        color: $justwhite;
      }
      .plans__container-price {
        color: $justwhite;
        span {
          color: $justwhite;
        }
      }
    }
  }
}
footer {
  height: auto;
  padding: 20px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: $bitcoin-orange;
  ul {
    list-style: none;
    li {
      @include paragraphs;
      text-align: start;

      a {
        text-decoration: none;
        color: $justwhite;
      }
    }
  }
}
